.banner			{ background: #333333; display: inline-block; color: white; }
.playertable		{ border: solid black 1px; }
.ptd			{ border: solid black 1px; }
.banner a:visited	{ color: #A9A9A9; text-decoration: none; }
.banner a:hover		{ color: white;  text-decoration: none; }
.banner a:link		{ color: #A9A9A9; text-decoration: none; }
.banner a:active	{ color: #A9A9A9; text-decoration: none; }
